@media (max-width:1200px) {
    .rec__card{
        width: calc(50% - 10px);
    }
    .products__card{
        width: calc(50% - 25px);
    }
    
}
@media (max-width:1100px) {
    .hero{
        flex-direction: column;
    }
    
}
@media (max-width:900px) {
    .nav__list{
        display: none;

    }
    .menu{
        display: block;
    }
}
@media (max-width:990px) {
    .rec__card{
        width: 100%;
    }
    .testimonial{
        width: 100%;
    }
    .newsletter{
        flex-direction: column;
        padding: 50px 0;
    }
}
@media (max-width: 768px) {
    .products__card {
        flex-basis: 100%; /* Одно карточка в строке на узких экранах */
        margin-bottom: 20px;
    }
}
@media (max-width:750px) {
    .hero__heading{
        font-size: 24px;
    }
    .hero__text{
        font-size: 16px;
    }
    .search__input{
        width: 310px;
    }
    .search__submit{
        width: 80px;
    }
    ::placeholder{
        font-size: 14px;
        
    }
    .testimonial__heading{
        font-size: 18px;
    }
    .testimonial__text{
        font-size: 10px;
    }
    .newsletter__heading{
        font-size: 22px;
    }
    .newsletter__text{
        font-size: 12px;
    }
    .email-input{
        width: 250px;
    }
    .email-submit{
        width: 60px;
        font-size: 10px;
    }
}